// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

//$font-path: "../fonts/open-sans";
$primary-color: #3f74e8;
$secondary-color: #262163;
$headings-color: #273037;
//$body-color: #929699;
$body-color: #333333;
$body-secondary-color: #646665;
$global-light-gray: #e6e6e6;
