// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------
$right-space-vars: (
  0 right r,
  5 right r,
  10 right r,
  15 right r,
  20 right l,
  25 right r,
  30 right r,
  35 right r,
  40 right r,
  45 right r,
  50 right r
);
$bottom-space-vars: (
  0 bottom b,
  5 bottom b,
  10 bottom b,
  15 bottom b,
  20 bottom b,
  25 bottom b,
  30 bottom b,
  35 bottom b,
  40 bottom b,
  45 bottom b,
  50 bottom b
);
$top-space-vars: (
  0 top t,
  5 top t,
  10 top t,
  15 top t,
  20 top t,
  25 top t,
  30 top t,
  35 top t,
  40 top t,
  45 top t,
  50 top t
);
@mixin generate-spacing-classes($default-space-amounts-with-direction: (5 left l, 10 left l, 15 left l, 20 left l, 25 left l, 30 left l, 35 left l, 40 left l, 45 left l, 50 left l)) {
  @each $space in $default-space-amounts-with-direction {
    .m#{nth($space, 3)}-#{nth($space, 1)} {
      margin-#{nth($space, 2)}: #{nth($space, 1)}px;
    }
    .p#{nth($space, 3)}-#{nth($space, 1)} {
      padding-#{nth($space, 2)}: #{nth($space, 1)}px;
    }
  }
}
@include generate-spacing-classes();
@include generate-spacing-classes($right-space-vars);
@include generate-spacing-classes($bottom-space-vars);
@include generate-spacing-classes($top-space-vars);
