// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------


html {
  overflow-y: scroll
}

*,
:after,
:before {
  box-sizing: border-box
}

body {
  position: relative;
  color: $body-color;
  background: #fff;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}

a {
	color: $primary-color;
  text-decoration: underline;
  transition: color 0.3s;
  &.color-secondary {
    color: $secondary-color;
    &:hover {
      text-decoration: underline;
    }
  }
  .no-touchevents &:hover {
		color: scale-color($primary-color, $lightness: -10%);
    text-decoration: none;
  }

}

p {
  letter-spacing: .02em;
  line-height: 1.6;
}

ul {
  padding: 0;
}

img {
  vertical-align: middle;
}

.overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
