.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: currentColor;
    pointer-events: none;
    z-index: 1;
  }
  &--edit {
    width: 11px;
    height: 11px;
  }
  &--remove {
    width: 11px;
    height: 11px;
    margin-right: -2px;
  }
}
