// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  margin: 20px 0 10px;
  color: $headings-color;
  outline: 0;
}

h1,
.h1 {
  font-size: 24px;
  color: $primary-color;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 20px;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 500;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 1.25;
}

h5,
.h5 {
  font-size: 16px;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: 12px;
  line-height: 1.3;
}
