// -----------------------------------------------------------------------------
// Placeholder
// -----------------------------------------------------------------------------

@mixin placeholder($color, $font-style) {
  &::-webkit-input-placeholder {
    color: $color;
    transition: color 0.3s;
    font-style: $font-style;
  }
  &:-moz-placeholder           {
    color: $color;
    transition: color 0.3s;
    font-style: $font-style;
  }
  &::-moz-placeholder          {
    color: $color;
    transition: color 0.3s;
    font-style: $font-style;
  }
  &:-ms-input-placeholder      {
    color: $color;
    transition: color 0.3s;
    font-style: $font-style;
  }
}
