.grid {
  &__box {
    padding: 30px;
    //box-shadow: 0 8px 12px 10px rgba($primary-color,0.08);
    background: #fff;
    &--no-padding {
      padding: 0;
    }
    &--light {
      color: $body-secondary-color;
    }
    &-title {
      padding: 30px;
      margin-bottom: 0;
    }
  }
  &__loading {
    &-section {
      margin-bottom: 18px;
      &--line {
        height: 15px;
        margin-bottom: 7px;
        animation: pulse 1s infinite ease-in-out;
        @include content-placeholder(1) {
          height: 18px;
          width: 150px;
        }
        @include content-placeholder(2, 3, 4, 5) {
          width: 100%;
        }
      }
    }
  }
  &__container {
    position: relative;
    max-width: 520px;
    margin: 0 auto;
    padding: 0 10px;
    &--main {
      display: flex;
    }
  }
  &__header {
    color: $secondary-color;
    margin-bottom: 15px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    tbody {
      border: 1px solid rgba(0, 0, 0, 0.06);
      background: #fff;
    }
    p {
      letter-spacing: 0;
    }
    tr {
      background: #fff;
      &:nth-child(even) {
        background: #fff;
      }
    }
    th {
      width: 270px;
      padding: 7px 10px 6px;
      font-size: 14px;
      vertical-align: top;
      background-color: #f7f7f7;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      color: $secondary-color;
    }
    td {
      vertical-align: top;
      padding: 6px 10px;
      font-size: 14px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}
// .tinyMCE table.karta{ width:100%; margin-top:20px; border-collapse:collapse; text-align:left; }
// .tinyMCE table.karta th{ width:300px; padding:7px 10px 6px 10px; font-size:12px; vertical-align:top; background-color:#fafafa; border-bottom:1px solid #eee; }
// .tinyMCE table.karta th b{ color:#088A29; }
// .tinyMCE table.karta td{ vertical-align:top; padding:6px 10px 6px 10px; font-size:12px; line-height:17px; border-bottom:1px solid #eee; }
//
//
// .tinyMCE table.karta td ul{ padding-left:20px; }
// .tinyMCE table.karta td ul li{ line-height:16px; margin-bottom:5px; }
// .tinyMCE table.karta td ul.mrg-cez{ margin-top:2px; margin-bottom:0px; }
// .tinyMCE table.karta tr:first-child{ border-top:1px solid #eee; }
