.modal {
  display: block !important;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  background: #fff;
  border: 0;
  padding: 0;
  outline: 0;
  z-index: 1006;
  backface-visibility: hidden;
    top: -100px !important;
    transform: translateY(150px) scale(.8);
    width: 600px;
    max-width: 75rem;
    margin: 0 auto;
    transition: opacity .300s cubic-bezier(0,0,.2,1) 0ms,
                transform .12s cubic-bezier(0,0,.2,1) 0ms,
                -webkit-transform .12s cubic-bezier(0,0,.2,1) 0ms;

  &__header {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
  }
  &__content {
    //padding: 20px;
  }
  &__footer {
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    &--centered {
      justify-content: center;
    }
    &--has-buttons {
      padding: 0px;
    }
    .close-button {
      position: relative;
      top: initial;
      left: initial;
    }
  }
  &__title {
    font-size: 20px;
  }
  &__close {
    position: absolute;
    cursor: pointer;
    line-height: 1;
    right: 15px;
    top: 8px;
    font-size: 2em;
    color: $body-color;
    background: none;
    border: 0;
    &:hover,
    &:focus {
      outline: none;
    }

  }

}

