.preloader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity, 0.3s visibility;
  &--full {
    position: fixed;
  }
  &.is-shown {
    opacity: 1;
    visibility: visible;
  }
  &__container {
    position: relative;
    width: 60px;
    height: 60px;
    .dot {
      position: absolute;
      background: $primary-color;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    .dot1 {
      top: 0;
      left: 0;
      animation: dot1_anim 2.5s cubic-bezier(.6,.01,.4,1) infinite;
    }

    .dot2 {
      top: 0;
      right: 0;
      animation: dot2_anim 2.5s cubic-bezier(.6,.01,.4,1) infinite;
    }

    .dot3 {
      bottom: 0;
      right: 0;
      animation: dot3_anim 2.5s cubic-bezier(.6,.01,.4,1) infinite;
    }

    .dot4 {
      bottom: 0;
      left: 0;
      animation: dot4_anim 2.5s cubic-bezier(.6,.01,.4,1) infinite;
    }
  }
}

@keyframes dot1_anim {
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(40px, 0)}
  50% {transform: translate(40px, 40px)}
  75% {transform: translate(0, 40px)}
}

@keyframes dot2_anim {
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(0, 40px)}
  50% {transform: translate(-40px, 40px)}
  75% {transform: translate(-40px, 0)}
}

@keyframes dot3_anim {
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(-40px, 0)}
  50% {transform: translate(-40px, -40px)}
  75% {transform: translate(0, -40px)}
}

@keyframes dot4_anim {
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(0, -40px)}
  50% {transform: translate(40px, -40px)}
  75% {transform: translate(40px, 0px)}
}
