.tabs {
  .tabs-component-tabs {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    .tabs-component-tab {
      &.is-active {
        border-bottom: 3px solid $primary-color;
        a {
          color: $primary-color;
          font-weight: 500;
        }
      }
    }
    .tabs-component-tab-a {
      display: block;
      padding: 20px 15px;
      text-decoration: none;
      font-size: 17px;
      color: $body-color;
      transition: none !important
    }
  }
  .tabs-component-panels {
    padding: 20px;
  }
}