<template>
  <div>
    <colors></colors>
  </div>
</template>

<script>
// @ is an alias to /src
import Colors from '@/components/Colors.vue';
import App from '@/assets/scss/app.scss';

export default {
  name: 'home',
  components: {
    Colors,
  },
};
</script>
