<template>
  <div class="colors">
    <div class="colors__settings colors--print-hide">

      <h1 class="mt-0">Barvičkátor</h1>

      <h2>Nastavení</h2>

      <a class="colors__options" @click="showModal = !showModal">
        <span class="icon">
          <svg class="icon__svg" viewBox="0 0 512 512" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M444.788 291.1l42.616 24.599c4.867 2.809 7.126 8.618 5.459 13.985-11.07 35.642-29.97 67.842-54.689 94.586a12.016 12.016 0 0 1-14.832 2.254l-42.584-24.595a191.577 191.577 0 0 1-60.759 35.13v49.182a12.01 12.01 0 0 1-9.377 11.718c-34.956 7.85-72.499 8.256-109.219.007-5.49-1.233-9.403-6.096-9.403-11.723v-49.184a191.555 191.555 0 0 1-60.759-35.13l-42.584 24.595a12.016 12.016 0 0 1-14.832-2.254c-24.718-26.744-43.619-58.944-54.689-94.586-1.667-5.366.592-11.175 5.459-13.985L67.212 291.1a193.48 193.48 0 0 1 0-70.199l-42.616-24.599c-4.867-2.809-7.126-8.618-5.459-13.985 11.07-35.642 29.97-67.842 54.689-94.586a12.016 12.016 0 0 1 14.832-2.254l42.584 24.595a191.577 191.577 0 0 1 60.759-35.13V25.759a12.01 12.01 0 0 1 9.377-11.718c34.956-7.85 72.499-8.256 109.219-.007 5.49 1.233 9.403 6.096 9.403 11.723v49.184a191.555 191.555 0 0 1 60.759 35.13l42.584-24.595a12.016 12.016 0 0 1 14.832 2.254c24.718 26.744 43.619 58.944 54.689 94.586 1.667 5.366-.592 11.175-5.459 13.985L444.788 220.9a193.485 193.485 0 0 1 0 70.2zM336 256c0-44.112-35.888-80-80-80s-80 35.888-80 80 35.888 80 80 80 80-35.888 80-80z"/>
          </svg>
        </span>
      </a>
    

      <input class="input__text" type="text" v-model="colors.projectTitle">

      <p>
        <div class="input--inline-button">
          <h3 class="input__label">Přidání kategorie</h3>
          <input class="input__text" type="text" v-model="colors.category" @keyup.enter="addCategory" placeholder="Název kategorie...">
          <button class="button button--primary" v-on:click="addCategory">Přidat</button>
        </div>
      </p>

      <p>
        <h3 class="input__label">Přidání barvy</h3>
        <input class="input__text mb-10" type="text" v-model="colors.colorName" placeholder="Název barvy...">
         <select class="input__select mb-10" v-model="selectedCategory">
          <!--  <option v-for="colorCategory in categories" :key="colorCategory.id" v-bind:value="{ id: colorCategory.id, text: colorCategory.name }" :selected="colorCategory.id == 1">
                {{ colorCategory.name }} - {{ colorCategory.id }}
            </option> -->
          <option value="Kategorie" selected disabled>
            Vyber kategorii
          </option>
          <option v-for="colorCategory in categories" :key="colorCategory.id" v-bind:value="{ id: colorCategory.id, name: colorCategory.name }">
              {{ colorCategory.name }}
          </option>
        </select>
        <div class="input--validate" :class="{ error: !hexIsValid }">
          <div class="input--inline-button">
            <!-- <input class="input__text" type="text" v-model="dataColors.hex" placeholder="Hex kód barvy" @keyup.enter="addColor" @focus="showColorModel = true" @blur="showColorModel = false"> -->
            <chromepicker id="colorPicker" v-if="showColorModel" v-model="dataColors"/>
            <input class="input__text" type="text" v-model="dataColors.hex" placeholder="Hex kód barvy" @keyup.enter="addColor">
            <div class="colors__thumbnail" @click="togglePicker" :style="{background: dataColors. hex}"></div>
            <button class="button button--primary" v-on:click="addColor" >Add Color</button>
          </div>
          <div class="input--validate-label" v-if="!hexIsValid">Neplatný Hex Kód</div>
        </div>
      </p>

      <h3 class="input__label">Jaké barevné modely chci zobrazit?</h3>
      <div class="input--multiple">
        <label class="checkbox">
          <input type="checkbox" id="checkboxHEX" class="checkbox__control" name="" v-model="checkHEX">
          <span class="checkbox__label">
            Hex
            <span class="icon icon--check checkbox__icon">
              <svg class="icon__svg" viewBox="0 0 32 32" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M27.241 5.217l-16.44 16.44-6.041-6.041c-0.293-0.293-0.768-0.293-1.061 0l-1.768 1.768c-0.293 0.293-0.293 0.768 0 1.061l8.339 8.339c0.293 0.293 0.768 0.293 1.061 0l18.738-18.738c0.293-0.293 0.293-0.768 0-1.061l-1.768-1.768c-0.293-0.293-0.768-0.293-1.061 0z"></path>
              </svg>
            </span>
          </span>
        </label>
        <label class="checkbox">
          <input type="checkbox" id="checkRGB" class="checkbox__control" name="" v-model="checkRGB">
          <span class="checkbox__label">
            RGB
            <span class="icon icon--check checkbox__icon">
              <svg class="icon__svg" viewBox="0 0 32 32" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M27.241 5.217l-16.44 16.44-6.041-6.041c-0.293-0.293-0.768-0.293-1.061 0l-1.768 1.768c-0.293 0.293-0.293 0.768 0 1.061l8.339 8.339c0.293 0.293 0.768 0.293 1.061 0l18.738-18.738c0.293-0.293 0.293-0.768 0-1.061l-1.768-1.768c-0.293-0.293-0.768-0.293-1.061 0z"></path>
              </svg>
            </span>
          </span>
        </label>
        <label class="checkbox">
          <input type="checkbox" id="checkCMYK" class="checkbox__control" name="" v-model="checkCMYK">
          <span class="checkbox__label">
            CMYK
            <span class="icon icon--check checkbox__icon">
              <svg class="icon__svg" viewBox="0 0 32 32" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M27.241 5.217l-16.44 16.44-6.041-6.041c-0.293-0.293-0.768-0.293-1.061 0l-1.768 1.768c-0.293 0.293-0.293 0.768 0 1.061l8.339 8.339c0.293 0.293 0.768 0.293 1.061 0l18.738-18.738c0.293-0.293 0.293-0.768 0-1.061l-1.768-1.768c-0.293-0.293-0.768-0.293-1.061 0z"></path>
              </svg>
            </span>
          </span>
        </label>
      </div>

      <p class="colors--print-hide">
        <button class="button button--primary" v-on:click="savePDF" >Save PDF</button>
      </p>

    </div>

    <div class="colors__export" id="export">
      <h1 class="colors__export--title">{{colors.projectTitle}}</h1>
      <div v-for="category in this.categories" class="categories" :key="category.id">
        <div v-if="category.name === 'None'">
        </div>
        <div v-else>
          <h3 class="colors__title">{{category.name}}</h3>
        </div>
        <ul class="colors__list">
          <draggable :options="{draggable:'.colors__item', group: category.name, forceFallback: true}" @start="drag=true" @end="drag=false">
            <li class="colors__item" v-for="color in customFilter(category.id)" :key="color.name">
              <div class="colors__box-title">
                {{color.name}}
              </div>
              <div class="colors__box" v-bind:style="{background: '#' + color.hex}">
                <span v-if="checkHEX === true && !color.editing" class="colors__box-item" v-on:dblclick="editColor(color.thisId)">#{{color.hex}}</span>
                <input v-else class="colors__box-item-edit" type="text" v-model.lazy="color.hex" v-bind:class="{ isHidden: !checkHEX }" v-on:keyup.enter="doneEdit(color.thisId)" @blur="doneEdit(color.thisId)" @keydown.esc="doneEdit(color.thisId)" v-focus>
                <span v-if="checkRGB === true" class="colors__box-item colors__box-item--small">{{hexToRGB(color.hex)}}</span>
                <span v-if="checkCMYK === true" class="colors__box-item colors__box-item--small">{{rgbToCmyk(color.hex)}}</span>
                <div class="colors__box-item-edit__buttons">
                  <a class="colors__box-item-edit__button" v-on:click="editColor(color.thisId)">
                    <span class="icon icon--edit">
                      <svg class="icon__svg" viewBox="0 0 512 512" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1a47.92 47.92 0 0 1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/>
                      </svg>
                    </span>
                  </a>
                  <a class="colors__box-item-edit__button colors__box-item-edit__button--remove" v-on:click="removeColor(color.thisId)">
                    <span class="icon icon--remove">
                      <svg class="icon__svg" viewBox="0 0 512 512" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm415.2 56.7L394.8 467c-1.6 25.3-22.6 45-47.9 45H101.1c-25.3 0-46.3-19.7-47.9-45L32.8 140.7c-.4-6.9 5.1-12.7 12-12.7h358.5c6.8 0 12.3 5.8 11.9 12.7z"/>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </draggable>


        </ul>
      </div>
      
    </div>


    <transition name="modal">
      <div class="modal-mask" v-if="showModal">

        <!-- <button class="close-button modal__close" data-close="modal" aria-label="Close modal" type="button">
          <span aria-hidden="true">×</span>
        </button> -->

        <div class="modal-wrapper">
          <div class="modal-container">

            <!-- <div class="modal__header modal-header">
              <h2 class="modal__title">Další možnosti</h2>
            </div> -->

            <div class="modal__content">
              <div class="tabs">
                <tabs>
                  <tab name="Import json">
                      <textarea class="input__textarea mb-10" name="" id="importJson" cols="30" rows="10" placeholder="Json data..."></textarea>
                      <button class="button button--primary" @click="importData">Import</button>
                  </tab>
                  <tab name="Export json">
                      {{this.colorsObject}}
                  </tab>
                  <tab name="Dev">
                    <button @click="fastColor">Náhodné barvy (4)</button>
                    <button @click="fastColorLarge">Náhodné barvy (10)</button>
                    <button @click="resetColors">Smazat barvy</button>
                  </tab>
                </tabs>
              </div>

              <button class="modal__close" @click="showModal = false" type="button">
                <span aria-hidden="true">×</span>
              </button>
              
            </div>


          </div>
        </div>
      </div>
    </transition>






  </div>
</template>

<script>
import draggable from 'vuedraggable';
import { Chrome } from 'vue-color';

export default {
  name: 'Colors',
  components: {
    draggable,
    chromepicker: Chrome,
  },
  data() {
    return {
      dataColors: {
        hex: '#202020',
      },
      error: false,
      showColorModel: false,
      colors: {
        projectTitle: 'Page Title',

        category: '',
        categories: [],

        colorsObject: [],

      },
      checkRGB: true,
      checkHEX: true,
      checkCMYK: true,
      thisId: 1,
      categoryId: 1,
      categories: [],
      selectedCategory: 'Kategorie',
      colorsObject: [],
      editing: false,
      showModal: false
    };
  },
  directives: {
    focus: {
      inserted(el) {
        el.focus();
        el.select();
      },
    },
  },
  methods: {
    resetColors() {
      this.colorsObject = [],
      this.categories = [{
        id: 1,
        name: 'None',
      }],
      this.thisId = 1,
      this.categoryId = 2
    },
    saveTitle() {
      console.log(this.colors.projectTitle);
    },
    customFilter(id) {
      return this.colorsObject.filter(rol => rol.id === id);
    },
    importData() {
      /* const importedJson = document.getElementById('importJson').value;
      const testData = JSON.parse(importedJson);
      for (let key in testData) {
        this.colorsObject.push(
          testData[key],
        )
      } */

      const importedJson = document.getElementById('importJson').value;
      const importedData = JSON.parse(importedJson);

      const editCategoriesArray = importedData.filter(item => item.category.id !== 1);

      const categoriesTodo = [];
      for (let key in editCategoriesArray) {
        categoriesTodo.push({
          id: editCategoriesArray[key].category.id,
          name: editCategoriesArray[key].category.name
        })
      }
      const categoriesEdited = categoriesTodo.filter((item, index, self) =>
        index === self.findIndex((t) => (
          t.id === item.id && t.name === item.name
        ))
      )
      for (let key in categoriesEdited) {
        this.categories.push(
          categoriesEdited[key],
        )
      }
      for (let key in importedData) {
        this.colorsObject.push(
          importedData[key],
        )
      }
    },
    addColor() {
      let color = this.dataColors.hex;
      if (!this.hexIsValid) {
        return;
      }
      const colorCheck = this.dataColors.hex.indexOf('#');
      if (colorCheck != -1) {
        color = color.slice(0, 0) + color.slice(1);
      }

      const selectedCategory = this.selectedCategory;

      if (selectedCategory === 'Kategorie') {
        this.colorsObject.push({
          thisId: this.thisId,
          id: this.categories[0].id,
          name: this.colors.colorName,
          hex: color,
          editing: false,
          category: this.categories[0],
        });
        this.thisId++;
      } else {
        this.colorsObject.push({
          thisId: this.thisId,
          id: this.selectedCategory.id,
          name: this.colors.colorName,
          hex: color,
          editing: false,
          category: selectedCategory,
        });
        this.thisId++;
      }

      console.log(this.colorsObject);
    },
    mouseOver() {
      this.showColorModel = !this.showColorModel;
    },
    addCategory() {
      this.categories.push({
        id: this.categoryId,
        name: this.colors.category,
      });
      this.categoryId++;
      console.log(this.categories);
    },
    addDefaultCategory() {
      this.categories.push({
        id: 1,
        name: 'None',
      });
      this.categoryId++;
      console.log(this.categories);
    },
    editColor(boxId) {
      const colorEditInput = this.colorsObject.filter(x => x.thisId === boxId);
      colorEditInput[0].editing = true;
    },
    removeColor(boxId) {
      const colorRemoveObject = this.colorsObject;
      console.log(colorRemoveObject);
      const colorRemoveItem = colorRemoveObject.map(item => item.thisId).indexOf(boxId);
      console.log(colorRemoveItem);
      colorRemoveObject.splice(colorRemoveItem, 1);
    },
    doneEdit(boxId) {
      const colorBox = this.colorsObject.filter(x => x.thisId === boxId);
      colorBox[0].editing = false;
    },
    savePDF() {
      window.print();
    },
    showPicker() {
      document.addEventListener('click', this.documentClick);
      this.showColorModel = true;
    },
    hidePicker() {
      document.removeEventListener('click', this.documentClick);
      this.showColorModel = false;
    },
    togglePicker() {
      this.showColorModel ? this.hidePicker() : this.showPicker();
    },
    documentClick(e) {
      let el = document.getElementById('colorPicker'),
        target = e.target;
      if (el !== target && !el.contains(target)) {
        this.hidePicker();
      }
    },
    hexToRGB(color) {
      let h = color;
      h = h.match(new RegExp(`(.{${h.length / 3}})`, 'g'));
      for (let i = 0; i < h.length; i++) { h[i] = parseInt(h[i].length == 1 ? h[i] + h[i] : h[i], 16); }
      return `rgb(${h.join(', ')})`;
      // return h;
    },

    rgbToCmyk(color) {
      let h = color;
      h = h.match(new RegExp(`(.{${h.length / 3}})`, 'g'));
      for (let i = 0; i < h.length; i++) {
        h[i] = parseInt(h[i].length == 1 ? h[i] + h[i] : h[i], 16);
      }
      const R = h[0];
      const G = h[1];
      const B = h[2];
      if ((R === 0) && (G === 0) && (B === 0)) {
        return 'cmyk(0%, 0%, 0%, 100%)';
      }
      let C = 1 - (R / 255);
      let M = 1 - (G / 255);
      let Y = 1 - (B / 255);
      let K = 1;

      const CMY = Math.min(
        C,
        Math.min(M, Y),
      );
      C = Math.round(((C - CMY) / (1 - CMY)) * 100);
      M = Math.round(((M - CMY) / (1 - CMY)) * 100);
      Y = Math.round(((Y - CMY) / (1 - CMY)) * 100);
      K = Math.round(CMY * 100);

      return `cmyk(${C}%, ${M}%, ${Y}%, ${K}%)`;
    },

    fastColor() {
      this.colorsObject.push(
        {
          thisId: 1,
          id: 1,
          name: '',
          hex: '96DB63',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 2,
          id: 1,
          name: '',
          hex: '20e6e6',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 3,
          id: 1,
          name: '',
          hex: '3A515A',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 4,
          id: 1,
          name: '',
          hex: 'A480BA',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },

      );

      this.thisId = 5;
    },
    fastColorLarge() {
      this.colorsObject.push(
        {
          thisId: 1,
          id: 1,
          name: null,
          hex: '96DB63',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 2,
          id: 1,
          name: null,
          hex: '20e6e6',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 3,
          id: 1,
          name: null,
          hex: '3A515A',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 4,
          id: 1,
          name: null,
          hex: 'A480BA',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 5,
          id: 1,
          name: null,
          hex: 'FFD166',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 6,
          id: 1,
          name: null,
          hex: '118AB2',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 7,
          id: 1,
          name: null,
          hex: 'EF476F',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 8,
          id: 1,
          name: null,
          hex: '073B4C',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 9,
          id: 1,
          name: null,
          hex: '56CBF9',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
        {
          thisId: 10,
          id: 1,
          name: null,
          hex: 'FF729F',
          editing: false,
          category: {
            id: 1,
            text: 'None',
          },
        },
      );

      this.thisId = 11;
    },
  },
  computed: {
    hexIsValid() {
      const colorCheck = this.dataColors.hex.indexOf('#');
      if (colorCheck != -1) {
        return /(^#[0-9A-F]{6}$)|(^#[0-9A-F]{3}$)/i.test(this.dataColors.hex);
      }
      return /(^[0-9A-F]{6}$)|(^[0-9A-F]{3}$)/i.test(this.dataColors.hex);
    },
  },
  beforeMount() {
    this.addDefaultCategory();
  },
};
</script>

<style scoped lang="scss">

.colors {
  display: flex;
  min-height: 100vh;
  &--print-hide {
    @media print {
      display: none;
    }
  }
  &__options {
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
    transition: color 0.3s; 
    &:hover {
      color: darken(#3f74e8, 5%)
    }
    .icon {
      width: 24px;
      height: 24px;
    }
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.3s box-shadow;
    cursor: move;
    user-select: none;
    > * {
      user-select: none;
    }
    &.sortable {
      &-ghost {
        opacity: 0.1
      }
      &-fallback {
        opacity: 1 !important;
        box-shadow: 0px 10px 44px rgba(0,0,0,0.4);
      }
    }
  }
  &__title {
    margin-bottom: 5px;
    @media print {
      font-size: 15px;
    }
  }
  &__thumbnail {
    position: absolute;
    right: 115px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1000;
    background: #000;
    border-radius: 2px;
  }
  &__settings {
    position: relative;
    flex: 1 0 26%;
    padding: 20px;
    box-shadow: 3px 0 21px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  &__export {
    flex: 1 0 74%;
    padding: 20px 20px 20px 40px;
    background: #f9f9f9;
    &--title {
      color: #273037;
    }
    @media print {
      font-size: 11px;
      padding: 0;
      background: #fff;
    }
  }
  &__box {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 11px 5px;
    text-align: center;
    min-height: 64px;
    width: 190px;
    &:hover {
      .colors {
        &__box {
          &-item {
            &-edit {
              &__buttons {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    @media print {
      padding: 6px 5px;
      min-height: 40px;
      width: 140px;
    }
    &-title {
      background: #f9f9f9;
      @media print {
        background: #fff;
      }
    }
    &-item {
      display: block;
      width: 100%;
      color: #fff;
      margin-bottom: 2px;
      @media print {
        //margin-bottom: 0;
      }
      &-edit {
        background: transparent;
        display: inline-block;
        width: 100%;
        color: #fff;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 2px;
        border: 0;
        &__buttons {
          display: flex;
          position: absolute;
          top: 5px;
          right: 5px;
          opacity:0;
          transition: 0.3s opacity;
        }
        &__button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          color: #1d1d1d;
          box-shadow: 4px 0 4px rgba(0,0,0,0.1);
          cursor: pointer;
          z-index: 3;
          width: 20px;
          height: 20px;
          border-radius: 2px;
          margin-right: 5px;
          &--remove {
            background: #FF3C38;
            color: #fff;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &--small {
        font-size: 12px;
        @media print {
          font-size: 8px;
        }
      }
    }
  }
}
.isHidden {
  display: none;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(188, 188, 188, 0.3);
  display: table;
  transition: opacity 250ms ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  position: relative;
  max-width: 700px;
  margin: 0px auto;
  background-color: #fff;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1) 0ms, transform 0.12s cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 0.12s cubic-bezier(0, 0, 0.2, 1) 0ms;
  min-height: 359px;
}

.modal-enter {
  opacity: 0;
  .modal-container {
    top: -100px !important;
    transform: translateY(150px) scale(0.8);
  }
}

.modal-leave-active {
  opacity: 0;
}




</style>
