// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------
.button {
  display: block;
  background: #fff;
  border-radius: 4px;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  color: $secondary-color;
  text-decoration: none;
  letter-spacing: .02em;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin: 0;
  cursor: pointer;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    background: transparent;
    color: $secondary-color;
    box-shadow: none;
    outline: none;
  }
  &--group {
    display: flex;
    .button {
      margin: 10px;
    }
  }
  &--small {
    padding: 12px 32px;
  }
  &--primary {
    background: $primary-color;
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      background: darken($primary-color, 5%);
      color: #fff;
      box-shadow: none;
    }
  }
  &--secondary {
    background: $secondary-color;
    color: #fff;
    &.disabled {
      background: $secondary-color;
    }
    &:hover,
    &:focus,
    &:active {
      background: $secondary-color;
      color: #fff;
      box-shadow: none;
    }
  }
  &--has-shadow {
    box-shadow: 0px 8px 10.8px 1.2px rgba($primary-color, 0.08);
  }
  &--icon {
    padding: 20px;
  }
}

.no-touchevents {
  .button {
    &:hover,
    &:focus,
    &:active {
      background: darken(#fff, 2%);
      color: $secondary-color;
      box-shadow: 0px 8px 10.8px 1.2px rgba($primary-color, 0.08);
    }
    &--primary {
      &:hover,
      &:focus {
        background: lighten($primary-color, 5%);
        color: #fff;
      }
    }
    &--secondary {
      &:hover,
      &:focus {
        background: darken($secondary-color, 6%);
        color: #fff;
      }
    }
  }
}
