.input {
  &--inline {
    .radio,
    .checkbox {
      display: inline-block;
      margin-right: 10px;
    }
  }
  &--multiple {
    .radio,
    .checkbox {
      margin: 10px 0 5px;
    }
  }
  &--inline {
    &.input--multiple {
      position: relative;
      top: -2px;
      .radio,
      .checkbox {
        margin: 0px 10px 10px 0;
      }
    }
  }
}

.checkbox,
.radio {
  display: block;
  cursor: pointer;
  &__control {
    position: absolute;
    left: -5000px;
    &[disabled] {
      & + .checkbox__label,
      & + .radio__label, {
        color: rgba(0,0,0,0.2);
        cursor: default;
        &:before {
          opacity: 0.6;
        }
        &:after {
          background: #fff;
        }
      }
    }
    &:checked {
      & + .checkbox__label,
      & + .radio__label {
        opacity: 1;
        &:before {
          background: $primary-color;
          color: #fff;
          border: 1px solid $primary-color;
        }
      }
    }
  }
  &__label {
    letter-spacing: 0.02em;
    //text-transform: uppercase;
    color: $secondary-color;
    font-weight: 400;
    display: block;
    position: relative;
    padding-left: 30px;
    transition: color 0.3s;
    line-height: 1.5;
    user-select: none;
    &:before {
      width: 21px;
      height: 21px;
      content: '';
      position: absolute;
      border: 1px solid $global-light-gray;
      background: #fff;
      top: 0;
      left: 0;
      will-change: background, border;
      transition: background 0.3s, border 0.3s;
    }
    &--small {
      font-size: 12px;
      //letter-spacing: 0.02em;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .icon {
      &:not(.checkbox__icon) {
        top: -2px;
        margin-right: 3px;
      }
    }
  }
}

.radio {
  &__label {
    &:before,
    &:after {
      border-radius: 50%;
    }
    &:after {
      content: '';
      position: absolute;
      top: 7px;
      left: 7px;
      width: 7px;
      height: 7px;
      background: #fff;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &__control {
    &:checked + .radio__label {
      &:after {
        opacity: 1;
      }
    }
  }
}

.checkbox {
  &__control {
    &:checked {
      & + .checkbox__label {
        .checkbox__icon {
          opacity: 1;
        }
      }
    }
    &[disabled] {
      & + .checkbox__label {
        .checkbox__icon {
          color: #fff;
        }
      }
    }
  }
  &__label {
    &:before {

      border-radius: 2px;
    }
  }
  &__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 5px;
    left: 5px;
    opacity: 0;
    color: #fff;
    transition: opacity 0.3s;
  }
}

.no-touchevents .checkbox:hover,
.no-touchevents .radio:hover {
  color: $secondary-color;
}

/*
.checkbox__control:checked:not([disabled]) + .checkbox__label,
.radio__control:checked:not([disabled]) + .radio__label {
  color: #000;
}*/

/*
@media (min-width:768px) {
  .inp--multiple .checkbox,
  .inp--multiple .radio {
    margin: 12px 20px 13px;
  }
}*/
