.input {
  &--validate {
    &-label {
      margin-top: 5px;
    }
    &.error {
      .input {
        &--validate {
          &-label {
            color: #FF3C38;
          }
        }
        &__text {
          border-color: #FF3C38;
        }
      }
      .button {
        background: #FF3C38;
        cursor: not-allowed;
      }
    }
  }
  &--inline-button {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .input {
      &__text {
        flex: 1 1 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &__label {
        flex: 1 1 100%;
      }
    }
    .button {
      display: inline-block;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__text,
  &__select {
    display: block;
    border: 1px solid $global-light-gray;
    padding: 15px 20px;
    background: #fff;
    color: $secondary-color;
    font-size: 14px;
    line-height: normal;
    width: 100%;
    max-width: 100%;
    height: 44px;
    border-radius: 4px;
    box-shadow: none;
    appearance: none;
    transition: border-color 0.3s;
    @include placeholder(rgba($secondary-color, 0.25), italic);
    &:hover {
      box-shadow: none;
    }
    &:focus {
      border: 1px solid $primary-color;
      box-shadow: none;
      background-color: #fff;
      outline: 0;
      @include placeholder(rgba($secondary-color, 0.40), italic);
    }
    &--small {
      height: 40px;
      font-size: 12px;
      & + .input__icon {
        padding: 0 13px;
        .icon {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  &__textarea {
    display: block;
    border: 1px solid $global-light-gray;
    padding: 15px 20px;
    background: #fff;
    color: $secondary-color;
    font-size: 14px;
    line-height: normal;
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: none;
    appearance: none;
    transition: border-color 0.3s;
    @include placeholder(rgba($secondary-color, 0.25), italic);
    &:hover {
      box-shadow: none;
    }
    &:focus {
      border: 1px solid $primary-color;
      box-shadow: none;
      background-color: #fff;
      outline: 0;
      @include placeholder(rgba($secondary-color, 0.40), italic);
    }
  }
  &__select {
    padding: 0 20px;
  }
  &__wrapper {
    position: relative;
    display: block;
    width: 100%;
  }
  &__text {
    &--small {
      padding: 15px 44px 15px 15px;
    }
  }
  &__label {
    display: block;
    &--inline {
      display: inline-block;
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100%;
    color: $secondary-color;
    &--primary {
      color: $primary-color;
    }
  }
  &--success & {
    &__text {
      border: 1px solid get-color(success);
      &:focus {
        border: 1px solid get-color(success);
      }
    }
    &__icon {
      color: get-color(success);
    }
  }
  &--warning & {
    &__text {
      border: 1px solid get-color(warning);
      &:focus {
        border: 1px solid get-color(warning);
      }
    }
    &__icon {
      color: get-color(warning);
    }
  }
  &--alert & {
    &__text {
      border: 1px solid get-color(alert);
      &:focus {
        border: 1px solid get-color(alert);
      }
    }
    &__icon {
      color: get-color(alert);
    }
  }
}
