.footer {
  &__feedback {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: $secondary-color;
    margin: 50px 0;
  }
  &__soft {
    color: $secondary-color;
    text-align: center;
    font-size: 18px;
  }
  &__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &__logo {
    margin: 0 10px;
  }
  &__copyright {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    &-logo  {
      //float: left;
      margin-right: 20px;
      &--eu {
        margin-right: 20px;
      }
    }
    &-text {
      p {
        line-height: 1.2;
      }
    }
  }
}
