<template>
  <div id="app">
    <!-- <div class="navigation">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view/>
  </div>
</template>

<style lang="scss">
@import './assets/scss/base/normalize';

.vc-chrome {
  position: absolute;
  z-index: 999;
  bottom: 50px;
}
/* .vc-ps-actions {
  .vc-ps-ac-btn {
    display: none;
  }
} */
</style>
